	<% content_for :about_tab do %>
	<%= "current" %>
	<% end %>
	
	<div class="container title about-section">
		<div class="sixteen columns">
			<h2>About Us</h2>
		</div><!-- /span4 -->
		<div class="columns sixteen">
			<p>Semenjak 2012 Dilacak.com fokus untuk membuat produk yang dapat membantu perusahaan atau perorangan untuk meningkatkan efisiensi dan keamanan asset bergerak mereka. GPS Tracker yang merupakan produk pertama kami, telah membantu client-client kami untuk menghemat biaya operasional mereka. Dengan beracuan pada kesuksesan produk pertama kami, kami memiliki visi untuk terus beriterasi menambah berbagai fitur dapal GPS Tracker dan dalam proses pembuatan produk-produk lain yang masih berfokus untuk meningkatkan efisiensi, keamanan dan menghemat biaya operasi pengguna kami.</p>
		</div>
	</div>

	<div class="container about-section title">
		<div class="sixteen columns">
			<h2>Accomplishment</h2>
		</div><!-- /span4 -->
		<div class="columns sixteen">
			<p>Pada tahun 2012 kami mendapatkan kehormataan untuk berpartisipasi <strong>SparxUp</strong> yang diadakan oleh <a href="http://dailysocial.co.id">DailySocial</a>. Dalam kompetisi tech startup yang paling bergengsi di Indonesia ini kami menjadi runner up untuk produk GPS Tracker kami.</p>
		</div>
		<div class="columns sixteen">
			<div class="image-container">
				<img src="images/narsis.jpg">
			</div>
		</div>
	</div>
		
	<!-- <div class="container about-section title">
		<div class="sixteen columns">
			<h2>Why choose us?</h2>
		</div>
		<div class="columns sixteen">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		</div>
	</div>	 -->


