<% content_for :contact_tab do %>
	 	<%= "current" %>
<% end %>

<div class="container title">
	<div class="four columns">
		<h1>Contact</h1>
	</div><!-- /span4 -->
	<div class="twelve columns hidden-mobile alt">	
		<hr>
	</div><!-- /span8 -->
</div><!-- /row-fluid -->

<div class="container contact-section">
	<div class="four columns contact-caption">
		<h4 class="intro">Kirimkan pada kami!</h4>
		<p>Pertanyaan seputar produk, proposal kerja sama, penawaran khusus serta saran dan kritik anda</p>
		<div>
			<h5>Email:</h5>
			<span>info@dilacak.com</span>
		</div><!-- /row -->
		<div>
			<h5>Twitter:</h5>
			<span><a href="http://www.twitter.com/dilacak" rel="external">@dilacak</a></span>
		</div>
	</div>

	<div class="twelve columns">



		<div class="five columns">
			<label for="name" class="control-label">Name:</label>
			<input class="five columns" type="text" name="contact_name" id="name">
		</div><!-- /span6 -->
		<div class="five columns">
			<label for="email" class="control-label">Email:</label>
			<input class="five columns" type="email" name="contact_email" id="email">
		</div><!-- /span6 -->

		<div class="five columns">
			<label for="phone" class="control-label">Phone Number:</label>
			<input class="five columns" type="tel" name="contact_phone" id="phone">  
		</div><!-- /span6 -->
		<div class="five columns">
			<label for="website" class="control-label">Your Website (Optional):</label>
			<input class="five columns" type="url" name="contact_website" id="website">

		</div><!-- /span6 -->

		<div class="columns twelve">
			<label for="message" class="control-label">Your Message:</label>
			<textarea class="columns twelve" type="text" name="contact_message" id="message" rows="4"></textarea>
		</div>

		<div class="columns twelve">
			<a href="/features" class="action">Send Message</a> 
		</div>
		<!-- </form> --><!-- /form -->
	</div><!-- /span8 -->	

</div><!-- /row-fluid -->	
</div>
