	<% content_for :features_tab do %>
		<%= "current" %>
	<% end %>
	
	<div class="container unit-section">
		<div class="sixteen columns">
			<div class="page-title">
				<h2>Features</h2>
			</div>
		</div>
	</div>

	<div class="container plain-section">
		<div class="eight columns content-image">
			<img src="images/time.png">
		</div>
		<div class="eight columns content-text">
			<h2>Real Time Tracking</h2>
			<span>Memantau posisi dan kondisi kendaraan di manapun secara realtime melalui Web Dilacak.com atau service SMS (Applikasi Mobile untuk Android dan iPhone akan tersedia dalam waktu dekat). Frekuensi pelacakan DILACAK.COM adalah yang terbaik, di mana status kendaraan diupdate per <strong>5 detik</strong>.</span>
		</div>
	</div>



	<div class="container plain-section">
		<div class="eight columns content-image hidden-desktop">
			<img src="images/engine2.png">
		</div>
		<div class="eight columns content-text">
			<h2>Cut off engine</h2>
			<span>Dalam menghadapi kondisi darurat, pengguna dapat mematikan kendaraan secara remote, melalui SMS atau Web DILACAK.COM. Kendaraan yang telah di "Cut Off", tidak dapat dihidupkan sebelum ada perintah dari pengguna untuk menghidupkan kembali kendaraan.
			</span>
		</div>
		<div class="eight columns right content-image hidden-mobile">
			<img src="images/engine2.png">
		</div>
	</div>

	<div class="container plain-section">
		<div class="eight columns content-image">
			<img src="images/metrix2.png">
		</div>
		<div class="eight columns content-text">
			<h2>Fuel and Speed Monitoring</h2>
			<span>Pengguna dapan memonitor kondisi bensin dan kecepatan kendaraan dari Web DILACAK.COM ataupun melalui notifikasi SMS. Pengguna juga dapat menentukan batas kecepatan maksimum untuk tiap kendaraan. Jika kendaraan melewati batas kecepatan yang telah ditentukan, alert akan muncul di Web DILACAK.COM dan notifikasi sms akan dikirimkan.</span>
		</div>
	</div>

	<div class="container plain-section">
		<div class="eight columns content-image hidden-desktop">
			<img src="images/report2.png">
		</div>
		<div class="eight columns content-text">
			<h2>Historical Report</h2>
			<span>Status kendaraan dan rute yang telah ditempuh akan dicatat oleh service kami. Catatan report ini dapat dengan mudah dilihat di Web DILACAK.com. Melalui report ini, pengguna dapat dengan mudah menganalisa kinerja kendaraan. 
			</span>
		</div>
		<div class="eight columns right content-image hidden-mobile">
			<img src="images/report2.png">
		</div>
	</div>

	<div class="container plain-section">
		<div class="eight columns content-image">
			<img src="images/multi_vehicle.png">
		</div>
		<div class="eight columns content-text">
			<h2>Multi Vehicle Monitoring</h2>
			<span>Jika pengguna memiliki beberapa kendaraan yang ingin dilacak, Web DILACAK.COM dapat dengan menampilkan beberapa kendaraan dalam peta pelacakan. Dengan ini operator lebih mudah melacak beberapa kendaraan dalam satu layar.</span>
		</div>

	</div>

	<div class="container plain-section">
		<div class="eight columns content-image hidden-desktop">
			<img src="images/map_marker.png">
		</div>
		<div class="eight columns content-text">					
			<h2>Place of Interest Marker</h2>
			<span>Place of Interest adalah lokasi-lokasi yang telah ditandai oleh pengguna. Setelah menentukan beberapa POI penting seperti kantor atau pabrik, pengguna bisa mendapatkan notifikasi dari Web atau SMS ketika kendaraan telah tiba di POI. Ada dua macam POI yang tersedia, <strong>POI publik</strong> yang secara otomatis telah tersedia di service DILACAK.COM (Mall, Gedung Perkantoran) atau <strong>POI privat</strong> yang ditentukan oleh pengguna dan hanya bisa dilihat oleh pengguna sendiri.
			</span>
		</div>
		<div class="eight columns right content-image hidden-mobile">
			<img src="images/map_marker.png">
		</div>
	</div>

	<div class="container plain-section">
		<div class="eight columns content-image">
			<img src="images/geo_fence.png">
		</div>
		<div class="eight columns content-text">
			<h2>Geo Fence Alert</h2>
			<span>Pengguna dapat menentukan area operasi dari kendaraan. Apabila kendaraan tersebut keluar dari jalur atau batas wilayah yang telah ditentukan, sistem kami akan mengirimkan notfikasi di Web DILACAK.COM atau melalui sms.</span>
		</div>

	</div>

	<div class="container plain-section">
		<div class="eight columns content-image hidden-desktop">
			<img src="images/fortify.png">
		</div>
		<div class="eight columns content-text">
			<h2>Fortify Alert</h2>
			<span>Adalah alert yang dikirimkan ketika kondisi kendaraan sedang parkir dan mesin dalam keadaan mati. Alert ini bisa dilihat dari Web DILACAK.com atau dikirim ke melalui sms ke pengguna.
			</span>
		</div>
		<div class="eight columns right content-image hidden-mobile">
			<img src="images/fortify.png">
		</div>
	</div>

	


