
<div class="container unit-section">
	<div class="sixteen columns">
		<div class="page-title">
			<h2>How it Works</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="sixteen columns">
		<div class="container">
			<div class="plan-section sixteen columns">						
				<div class="title">
					<h2>1. Pilih Paket</h2>
				</div>
				<div class="container">
					<div class="offset-by-one seven columns">
						<div class="price">
							<h3>Basic</h3>
							<div class="amount">
								<small class="currency">Rp</small>
								<span class="number">100 Rb</span>
							</div>
							<div class="subsection">
								<span class="duration">/ Bulan</span>
							</div>						
						</div>
					</div>
					<div class="offset-by-one seven columns">
						<div class="price">
							<h3>Pro</h3>
							<div class="amount">
								<small class="currency">Rp</small>
								<span class="number">120 Rb</span>
							</div>
							<div class="subsection">
								<span class="duration">/ Bulan</span>
							</div>						
						</div>
					</div>
				</div>
			</div>

			<div class="plan-section sixteen columns">						
				<div class="title">
					<h2>2. Kontak kami</h2>
				</div>								
				<div class="step-content">
					<p>Berikan alamat email atau nomor telepon anda, agar team marketing kamu bisa membantu anda mulai melacak</p>
				</div>
				<div class="action-section">
					<a href="#" class="a-btn">
						<p class="a-btn-text">Kontak Kami</p> 
					</a> 
				</div>
			</div>
			<div class="plan-section sixteen columns">						
				<div class="title">
					<h2>3. Installasi</h2>
				</div>
				<div class="step-content">
					<img src="images/banner-trans.png">
					<p>Berikan alamat email atau nomor telepon anda, agar team marketing kamu bisa membantu anda mulai melacak</p>
				</div>
			</div>
			<div class="plan-section sixteen columns">						
				<div class="title">
					<h2>4. Mulai lacak</h2>
				</div>
				<div class="step-content">									
					<img src="images/macbookair.png">
					<p>Berikan alamat email atau nomor telepon anda, agar team marketing kamu bisa membantu anda mulai melacak</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
