<% content_for :how_it_works_tab do %>
		<%= "current" %>
<% end %>


<div class="container unit-section">
	<div class="sixteen columns">
		<div class="page-title">
			<h2>How it Works</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="eight columns content-image">
		<img src="images/sattelite.png">
	</div>
	<div class="eight columns content-text">
		<h2>1. Sattelit</h2>
		<p>Terdapat lebih dari 30 Satelit GPS yang secara konsisten mengirimkan signal ke Bumi. Sinyal tersebut berisi posisi masing-masing satelit pada saat itu dengan sangat akurat.</p>
	</div>
</div>

<div class="container">
	<div class="eight columns content-image hidden-desktop">
		<img src="images/car_signal.png">
	</div>

	<div class="eight columns content-text">
		<h2>2. GPS Tracker</h2>
		<p>Sinyal dari satelit akan ditangkap oleh Reciever Dilacak yang telah dipasangkan di kendaraan atau aset bergerak anda. Dengan menerima sinyal dari minimum 3 satelit, Reciever Dilacak bisa menentukan secara tepat posisi kendaraan  dengan proses trilaterion/triangulation.  
		</p>
	</div>
	<div class="eight columns right content-image hidden-mobile">
		<img src="images/car_signal.png">
	</div>
</div>

<div class="container">
	<div class="eight columns content-image">
		<img src="images/cell_tower.png">
	</div>
	<div class="eight columns content-text">
		<h2>3. GSM Transmiter</h2>
		<p>Perangkat Reciever Dilacak juga dilengkapi dengan perangkat GSM yang digunakan untuk mengirimkan data posisi dan metrics lainnya ke cell tower GSM, seperti layaknya smartphone, dan diteruskan ke Application Server Dilacak </p>
	</div>
</div>

<div class="container">
	<div class="eight columns content-image hidden-desktop">
		<img src="images/computer_db.png">
	</div>
	<div class="eight columns content-text">
		<h2>4. Application Server, DataBase & SMS Gateway</h2>
		<p>Data yang dikirimkan oleh tiap Reciever Dilacak, akan diterima di Application Server. Di sini sistem kami akan memproses dan menyimpan semua data kendaraan anda. Terdapat pula SMS Gateway yang berfungsi untuk menirimkan SMS kepada pelanggan untuk alert-alert yang telah ditentukan</p>
	</div>
	<div class="eight columns right content-image hidden-mobile">
		<img src="images/computer_db.png">
	</div>
</div>

<div class="container">
	<div class="eight columns content-image">
		<img src="images/clients.png">
	</div>
	<div class="eight columns content-text">
		<h2>5. Clients</h2>
		<p>Setelah Application Server kami memporses data kendaraan anda, semua data seperti posisi, kecepatan, dan status kendaraan anda bisa anda lihat di Browser Komputer atau Smartphone anda</p>
	</div>
</div>




