<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>DILACAK.COM</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">

	<link rel="stylesheet" href="stylesheets/responsive-nav.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/custom2.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sacramento" type='text/css'>
	<link rel="stylesheet" href="font-awesome-4.0.3/css/font-awesome.min.css">
	

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<script src="javascript/jquery-1.10.1.js"></script>
	<script src="javascript/waypoint/waypoints.min.js"></script>
	<script src="javascript/responsive-nav.min.js"></script>
	<script src="javascript/dilacak.js"></script>

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->
	<div class="wrap">
		<div class="header">
			<div class="navigator">
				<nav class="container">
					<div class="logo columns five">
						<a>logo</a>
					</div>		<!-- end three -->
					<div class="nav-toggle">
						<a href="#nav">Menu</a>		
					</div>
					<div  class="nav-collapse nav-menu">
						<div class="columns ten">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li><a data-target="features" class="link" href="#features">Features</a></li>
								<li><a data-target="price" class="link" href="#pricing">Pricing</a></li>
								<li><a href="/contact">Contact Us</a></li>
								<li><a href="/how_it_works">Cara Kerja</a></li>
								<li><a href="">About</a></li>
							</ul>
						</div> <!-- end eleven -->
						<div class="columns one">
							<ul>
								<li><a href="http://app.dilacak.com/welcome" class="login-action">Login</a></li>
							</ul>
						</div> <!-- end two -->
					</div>		
				</nav><!-- end container -->
			</div>

			<div class="header-content container full-container"> 
				<div class="banner-text twelve columns">
					<span class="subheading break-word"><p>Fleet management & GPS tracking</p></span>		
					<h1>Lacak dengan mudah</h1>				
					<span class="subheading"><p class="break-word">Efesiensi & keamanan kendaraan anda</p></span>		
				</div>

				<div class="banner-action four columns">
						<a href="http://app.dilacak.com/welcome" class="action">Lihat Demo</a>
				</div>
				<div class="banner-action four columns">
						<a href="" class="action">Mulai Lacak</a>
				</div>
				
				
			</div>
		</div>

		<div class="container mentions full-container" id="end-point">
				<div class="sixteen columns">
					<h2>Liputan kami</h2>
				</div>
				
				<div class="four columns">
					<a href="http://e27.co/dilacak-to-roll-out-remote-asset-tracking-mobile-app-this-year/" target="_blank"><img src="images/e27_logo2.png"></a>
				</div>
				<div class="four columns">
					<a href="http://dailysocial.net/post/wawancara-dengan-dilacak-runner-up-sparxup-2012" target="_blank"><img src="images/dailysocial-logo2.png"></a>
				</div>
				<div class="four columns">
					<a href="http://tekno.kompas.com/read/2012/10/05/21192592/DapurMasak.com.dan.Dilacak.com..Juara.SparxUp.2012"><img src="images/media_kompas-tekno2.png"></a>
				</div>
				<div class="four columns">
					<a href="http://chip.co.id/news/general/3423/sang_juara_sparxup_award_2012_dapurmasak.com_dan_dilacak.com" target="_blank"><img src="images/chip-2012.png"></a>
				</div>
		</div>

		<div class="section quote-section">
			<div class="container">
				<div class="sixteen columns section-text center">
					<h2>Melacak kendaraan bagus untuk bisnis</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				</div>						
			</div>
		</div>

		<div class="content container features" name="features">
					<div class="section first sixteen columns">
							<div class="eight columns alpha">
								<div class="image-container">
									<img src="images/chrome.png">
								</div>							
							</div>
							<div class="eight columns section-text omega">
								<h3>Lacak dari manapun</h3>
								<p>Lacak dan monitor kendaraan anda dari manapun. Dengan mengunakan Web DILACAK.COM, kapan pun anda hanya berjarak satu klik dari kondisi kendaraan anda. Applikasi iPhone dan Android akan tersedia dalam waktu dekat.</p>
							</div>							
					</div>

					<div class="section sixteen columns">
							<div class="eight columns hidden-desktop">
								<div class="image-container">
									<img src="images/time.png">
								</div>							
							</div>

							<div class="eight columns section-text alpha">
								<h3>Real Time Tracking</h3>
								<p>Memantau posisi dan kondisi kendaraan di manapun secara realtime melalui Web Dilacak.com atau service SMS (Applikasi Mobile untuk Android dan iPhone akan tersedia dalam waktu dekat). Frekuensi pelacakan DILACAK.COM adalah yang terbaik, di mana status kendaraan diupdate per <strong>5 detik</strong>.</p>
							</div>

							<div class="eight columns hidden-mobile omega">
								<div class="right image-container">
									<img src="images/time.png">
								</div>							
							</div>
					</div>
					<div class="section sixteen columns">					
							<div class="eight columns alpha">
								<div class="image-container">
									<img src="images/engine2.png">
								</div>							
							</div>
							<div class="eight columns section-text omega">
								<h3>Cut off engine</h3>
								<p>Dalam menghadapi kondisi darurat, pengguna dapat mematikan kendaraan secara remote, melalui SMS atau Web DILACAK.COM. Kendaraan yang telah di "Cut Off", tidak dapat dihidupkan sebelum ada perintah dari pengguna untuk menghidupkan kembali kendaraan.</p>
							</div>
					</div>

					<div class="section sixteen columns">					
							<div class="eight columns hidden-desktop">
								<div class="image-container">
									<img src="images/metrix2.png">
								</div>							
							</div>
							<div class="eight columns section-text alpha">
								<h3>Fuel and Speed Monitoring</h3>
								<p>Pengguna dapan memonitor kondisi bensin dan kecepatan kendaraan dari Web DILACAK.COM ataupun melalui notifikasi SMS. Pengguna juga dapat menentukan batas kecepatan maksimum untuk tiap kendaraan. Jika kendaraan melewati batas kecepatan yang telah ditentukan, alert akan muncul di Web DILACAK.COM dan notifikasi sms akan dikirimkan.</p>
							</div>
							<div class="eight columns hidden-mobile omega">
								<div class="right image-container">
									<img src="images/metrix2.png">
								</div>							
							</div>						
					</div>

					<div class="section sixteen columns">					
							<div class="eight columns alpha">
								<div class="image-container">
									<img src="images/report2.png">
								</div>							
							</div>
							<div class="eight columns section-text omega">
								<h3>Historical Report</h3>
								<p>Status kendaraan dan rute yang telah ditempuh akan dicatat oleh service kami. Catatan report ini dapat dengan mudah dilihat di Web DILACAK.com. Melalui report ini, pengguna dapat dengan mudah menganalisa kinerja kendaraan.</p>
							</div>
					</div>

					<div class="section sixteen columns">
						<a href="/features" class="action center">See More</a> 						
					</div>				
									
		</div>

		<div class="container mentions section full-container" id="end-point">
				<h2>Client Kami</h2>
				<div class="four columns">
					<a href="http://www.bankmandiri.co.id" target="_blank"><img src="images/mandiri.png"></a>
				</div>
				<div class="four columns">
					<a href="http://store.kartikasari.com" target="_blank"><img src="images/kartikasari.png"></a>
				</div>
				<div class="four columns">
					<a href="http://www.gamemaster.co.id" target="_blank"><img src="images/game-master.jpg"></a>
				</div>
				<div class="four columns">
					<a href="http://jmp-logistic.com/" target="_blank"><img src="images/jmp-logistics.png"></a>
				</div>
			</div>

		<div class="price-section" name="price">			
			<div class="container full-container price-container">
				<div class="sixteen columns">
					<h2>Pricing</h2>
				</div>
				<div class="pricing container">
					<div id="pricing-caption" class="pricing-caption five columns">							
						<span>Dua tipe paket yang dapat dipilih sesuai dengan kebutuhan anda dan bisnis anda</span>
						<div class="price-action">						
							<a href="/pricing" class="action">Lihat Detail</a>
						</div>
					</div>
					<div class="price five columns">
						<h3>Basic</h3>
						<div class="amount">
							<small class="currency">Rp</small>
							<span class="number">100 Rb</span>
						</div>
						<div class="subsection">
							<span class="duration">/ Bulan</span>
						</div>						
					</div>
					<div class="price five columns">
						<h3>Pro</h3>
						<div class="amount">
							<small class="currency">Rp</small>
							<span class="number">120 Rb</span>
						</div>
						<div class="subsection">
							<span class="duration">/ Bulan</span>
						</div>						
					</div>
				</div>
			</div>

		</div>


	</div>

	<div class="footer">
		<div class="container">
			<div class="column one-third fsection">
				<h4>Social Network</h4>
				<div class="social">					
	                     <a href="https://www.facebook.com/dilacak" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
	                     <a href="https://twitter.com/dilacak" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
	                     <a href="http://www.linkedin.com/company/dilacak-com" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
	             </div>
			</div>
			<div class="column one-third fsection">				
				<div class="copy center">
               		<p>Copyright 2013 © - <a href="#">DILACAK.COM</a></p>
               	</div>
			</div>
			<div class="column one-third fsection">
				<h4>Contact</h4>
				<div class="address">
                  <p><i class="	fa fa-home color contact-icon"></i> Ruko Golden Blok G no 51 </p>
                  <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Summarecon Serpong</p>
                  <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tanggerang.</p>
                  <p><i class="fa fa-phone color contact-icon"></i> 021-29419092 / 021-29419093 </p>
                  <p><i class="fa fa-envelope color contact-icon"></i> <a href="mailto:info@dilacak.com">info@dilacak.com</a></p>
               </div>				
			</div>			

		</div>
	</div>


<!-- End Document
================================================== -->
<script>
	navToggle();
</script>

</body>

</html>

<script type="text/javascript">
	$('#end-point').waypoint(function(direction) {
  		$(".navigator").toggleClass("active");
	});

	$(".link").click(function() {
		targetName = $(this).attr("data-target");
		console.log(targetName);
   		scrollToAnchor(targetName);
	});
		
</script>
