<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>DILACAK.COM</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">

	<link rel="stylesheet" href="stylesheets/responsive-nav.css">
	<link rel="stylesheet" href="stylesheets/custom2.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sacramento" type='text/css'>
	<link rel="stylesheet" href="font-awesome-4.0.3/css/font-awesome.min.css">
	

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<script src="javascript/jquery-1.10.1.js"></script>
	<script src="javascript/waypoint/waypoints.min.js"></script>
	<script src="javascript/responsive-nav.min.js"></script>
	<script src="javascript/dilacak.js"></script>

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->
	<div class="wrap">
		<div class="header">
			<nav class="">
				<div class="nav container clearfix full-container">
						<div class="logo">
							<img src="images/logo.png"/>
						</div>		
						<div class="nav-toggle">
							<a href="#nav">Menu</a>		
						</div>
					<div  class="nav-collapse nav-menu">
						<ul>
							<li class="current"><a href="/">Home</a></li>
							<li><a data-target="features" class="link" href="#features">Features</a></li>
							<li><a data-target="price" class="link" href="#pricing">Pricing</a></li>
							<li><a href="/contact">Contact Us</a></li>
							<li><a href="/how_it_works">Cara Kerja</a></li>
							<li><a href="">About Us</a></li>
						</ul>
						<ul class="right">
							<li><a href="/" class="login-action">Login</a></li>
						</ul>
					</div>		
				</div>
			</nav>

			<div class="header-content container full-container"> 
				<div class="banner-text eleven columns">
					<span class="subheading">Fleet management & GPS tracking</span>		
					<h1>Lacak dengan mudah</h1>				
					<span class="subheading">Tingkatkan efesiensi & keamanan kendaraan anda</span>		
				</div>
				<a href="" class="action two columns banner-action" id="banner-action">Mulai Lacak</a>
			</div>
		</div>

		<div class="container mentions full-container" id="end-point">
				<h2>Liputan kami</h2>
				<div class="four columns">
					<img src="images/sparxup-2012-logo.png">
				</div>
				<div class="four columns">
					<img src="images/dailysocial-logo2.png">
				</div>
				<div class="four columns">
					<img src="images/e27_logo2.png">
				</div>
				<div class="four columns">
					<img src="images/media_kompas-tekno2.png">
				</div>
		</div>

		<div class="section quote-section">
			<div class="container">
				<div class="sixteen columns section-text center">
					<h2>Melacak kendaraan bagus untuk bisnis</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				</div>						
			</div>
		</div>
		<div class="content container" name="features">
				<div class="features">
					<div class="section first">
						<div class="container">
							<div class="eight columns">
								<div class="image-container">
									<img src="images/chrome.png">
								</div>							
							</div>
							<div class="eight columns section-text">
								<h3>Lacak dari manapun</h3>
								<p>Lacak dan monitor kendaraan anda dari manapun. Dengan mengunakan Web DILACAK.COM, kapan pun anda hanya berjarak satu klik dari kondisi kendaraan anda. Applikasi iPhone dan Android akan tersedia dalam waktu dekat.</p>
							</div>
							
						</div>
					</div>

					<div class="section">
						<div class="container">
							<div class="eight columns hidden-desktop">
								<div class="image-container">
									<img src="images/time.png">
								</div>							
							</div>
							<div class="eight columns section-text">
								<h3>Real Time Tracking</h3>
								<p>Memantau posisi dan kondisi kendaraan di manapun secara realtime melalui Web Dilacak.com atau service SMS (Applikasi Mobile untuk Android dan iPhone akan tersedia dalam waktu dekat). Frekuensi pelacakan DILACAK.COM adalah yang terbaik, di mana status kendaraan diupdate per <strong>5 detik</strong>.</p>
							</div>
							<div class="eight columns hidden-mobile">
								<div class="right image-container">
									<img src="images/time.png">
								</div>							
							</div>
						</div>
					</div>
					<div class="section">
						<div class="container">						
							<div class="eight columns">
								<div class="image-container">
									<img src="images/engine2.png">
								</div>							
							</div>
							<div class="eight columns section-text">
								<h3>Cut off engine</h3>
								<p>Dalam menghadapi kondisi darurat, pengguna dapat mematikan kendaraan secara remote, melalui SMS atau Web DILACAK.COM. Kendaraan yang telah di "Cut Off", tidak dapat dihidupkan sebelum ada perintah dari pengguna untuk menghidupkan kembali kendaraan.</p>
							</div>
						</div>
					</div>

					<div class="section">
						<div class="container">						
							<div class="eight columns hidden-desktop">
								<div class="image-container">
									<img src="images/metrix2.png">
								</div>							
							</div>
							<div class="eight columns section-text">
								<h3>Fuel and Speed Monitoring</h3>
								<p>Pengguna dapan memonitor kondisi bensin dan kecepatan kendaraan dari Web DILACAK.COM ataupun melalui notifikasi SMS. Pengguna juga dapat menentukan batas kecepatan maksimum untuk tiap kendaraan. Jika kendaraan melewati batas kecepatan yang telah ditentukan, alert akan muncul di Web DILACAK.COM dan notifikasi sms akan dikirimkan.</p>
							</div>
							<div class="eight columns hidden-mobile">
								<div class="right image-container">
									<img src="images/metrix2.png">
								</div>							
							</div>
							
						</div>
					</div>

					<div class="section">
						<div class="container">						
							<div class="eight columns">
								<div class="image-container">
									<img src="images/report2.png">
								</div>							
							</div>
							<div class="eight columns section-text">
								<h3>Historical Report</h3>
								<p>Status kendaraan dan rute yang telah ditempuh akan dicatat oleh service kami. Catatan report ini dapat dengan mudah dilihat di Web DILACAK.com. Melalui report ini, pengguna dapat dengan mudah menganalisa kinerja kendaraan.</p>
							</div>
						</div>						
					</div>

					<div class="section">
						<div class="container"></div>
						<div class="action-container"> 
							<a href="/features" class="action center">See More</a> 
						</div>
						
					</div>				
					
					
				</div>
		</div>

		<div class="container mentions section full-container" id="end-point">
				<h2>Client Kami</h2>
				<div class="four columns">
					<img src="images/BCA_s.png">
				</div>
				<div class="four columns">
					<img src="images/Mandiri_s.png">
				</div>
				<div class="four columns">
					<img src="images/BCA_s.png">
				</div>
				<div class="four columns">
					<img src="images/Mandiri_s.png">
				</div>
			</div>

		<div class="price-section" name="price">			
			<div class="container full-container price-container">
				<div class="sixteen columns">
					<h2>Pricing</h2>
				</div>
				<div class="pricing container">
					<div id="pricing-caption" class="pricing-caption five columns">							
						<span>Dua tipe paket yang dapat dipilih sesuai dengan kebutuhan anda dan bisnis anda</span>
						<div class="price-action">						
							<a href="/pricing" class="action">Lihat Detail</a>
						</div>
					</div>
					<div class="price five columns">
						<h3>Basic</h3>
						<div class="amount">
							<small class="currency">Rp</small>
							<span class="number">100 Rb</span>
						</div>
						<div class="subsection">
							<span class="duration">/ Bulan</span>
						</div>						
					</div>
					<div class="price five columns">
						<h3>Pro</h3>
						<div class="amount">
							<small class="currency">Rp</small>
							<span class="number">120 Rb</span>
						</div>
						<div class="subsection">
							<span class="duration">/ Bulan</span>
						</div>						
					</div>
				</div>
			</div>

		</div>


	</div>

	<div class="footer">
		<div class="container">
			<div class="column one-third fsection">
				<h4>Social Network</h4>
				<div class="social">					
	                     <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
	                     <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
	                     <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
	                     <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
	                     <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
	             </div>
			</div>
			<div class="column one-third fsection">				
				<div class="copy center">
               		<p>Copyright 2013 © - <a href="http://responsivewebinc.com/bootstrap-themes">DILACAK.COM</a></p>
               	</div>
			</div>
			<div class="column one-third fsection">
				<h4>Contact</h4>
				<div class="address">
                  <p><i class="	fa fa-home color contact-icon"></i> #12, Plot No.14, Raj Karmara Street, </p>
                  <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 5th Stage, Koramangala, Madiwala,</p>
                  <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Bangalore - 493922, Karananana.</p>
                  <p><i class="fa fa-phone color contact-icon"></i> +94-948-323-5532</p>
                  <p><i class="fa fa-envelope color contact-icon"></i> <a href="mailto:something@gmail.com">some.thing@gmail.com</a></p>
               </div>				
			</div>			

		</div>
	</div>


<!-- End Document
================================================== -->
<script>
	navToggle();
</script>

</body>

</html>

<script type="text/javascript">
	$('#end-point').waypoint(function(direction) {
  		$("nav").toggleClass("active");
	});

	$(".link").click(function() {
		targetName = $(this).attr("data-target");
		console.log(targetName);
   		scrollToAnchor(targetName);
	});
		
</script>