<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>DILACAK.COM</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="public/stylesheets/base.css">
	<link rel="stylesheet" href="public/stylesheets/skeleton.css">
	<link rel="stylesheet" href="public/stylesheets/layout.css">
	<link rel="stylesheet" href="public/stylesheets/custom.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->


	<div class="wrap">
		<div class="header">
			<div class="nav container clearfix">
				<div class="logo">
					<img src="public/images/logo.png"/>
				</div>

				<div class="nav-menu right">
					<ul id="menu">
						<li class="current"><a href="#">Home</a></li>
						<li><a href="">Feature</a></li>
						<li><a href="">Pricing</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="content container">
			<div class="banner">
				<div class="banner-meta container">
					<div class="banner-text">
						<p>Solusi tracking kendaraan anda</p>						
					</div>
					<div class="banner-button offset-by-eleven">
						<a href=”/archives/”>Mulai &rarr;</a>
					</div>
				</div>								
			</div>

			<div class="main-content container">
				<div class="section">
					<div class="container">
						<div class="eight columns section-text">
							<h2>Real Time Tracking</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
						<div class="eight columns">
							<div class="right">
								<img src="public/images/radar.png">
							</div>							
						</div>
					</div>
				</div>
				<div class="section">
					<div class="container">						
						<div class="eight columns">
							<div>
								<img src="public/images/engine.png">
							</div>							
						</div>
						<div class="eight columns section-text">
							<h2>Cut off engine</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
					</div>
				</div>

				<div class="section">
					<div class="container">						
						<div class="eight columns section-text">
							<h2>Fuel and Speed Monitoring</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
						<div class="eight columns">
							<div class="right">
								<img src="public/images/metrics.png">
							</div>							
						</div>
						
					</div>
				</div>
				<div class="section">

					<h2 class="section-title sixteen columns">Features</h2>
					<div class="container features">
						<div class="four columns">
							<i class="icon-one"></i><span class="sub-title">Real time tracking</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
						<div class="four columns">
							<i class="icon-two"></i><span class="sub-title">Cut off engine</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
						<div class="four columns">
							<i class="icon-three"></i><span class="sub-title">Metrics monitoring</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
						<div class="four columns">
							<i class="icon-four"></i><span class="sub-title">Real time</span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
				</div>

				<div class="section">
					<div class="container">
						<div class="columns eight"> 
							<img src="public/images/image_1.png">
						</div>
						<div class="columns eight">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum.</p>
						</div>
					</div>
				</div>
			</div>
				


			</div>
		</div>
		<div class="footer"></div>

	</div>


<!-- End Document
================================================== -->
</body>
</html>