html, body{
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5em;
	background-color: #fafafa;	
	margin:0;
	color: #666;
}

body{
	min-width: 50%;
	height:100%;
}

span{
	line-height: 1.5em;
}

p{
	line-height: 1.8em;
}

h1, h2, h3, h4{
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #52afe2;
}

.wrap{
	display:block;position:relative;
	min-height: 100%;
}

.wrap.active{
	background-color: #4980a5;
	opacity: 0.9;
}

.right{
	float: right;
}


.main-content{
	padding: 0 20px 50px 0;
}



nav{
	position: fixed;
	min-width: 100%;
	padding: 20px 0;
	text-align: center;
	top: 0;	
	z-index: 1000;
	
}

.plain-header .active .logo{
	margin-top: 15px;
}

nav.active{
	background-color: #4980a5;
	
}

.nav{
	top: 37%;
	position: relative;
	height: 37%;	
}

.logo{
	float:left;
}

.header{	
	background: url('../images/banner2.png') no-repeat center top;
	position: relative;
	padding: 15px 0;	
	min-height: 550px;
	width: 100%;
	z-index: 2000;	
	margin-bottom: 2px;
}

.plain-header{
	position: relative;
}

.nav-menu ul{
	list-style: none;
}

.nav-menu li{
	margin-right: 15px;
	display: inline;
	color: #333333;
	font-weight: 700;
}

.nav-menu li > a{
	color: #fff;
	text-decoration: none;

}

.nav-menu li a:hover{
	border-bottom: solid #52afe2;
}

.nav-menu li.current {
	color: #fff;
	background: #52afe2;
	padding: 10px 10px;
	line-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.header-content{
	margin-top: 1%;
}

.content{
	height: 100%;
}


.banner{
	position: relative;
	margin-left: -300px;
	margin-right: -300px; 
	height: 650px;
	width: auto;
	/*background: url('../images/banner2.png') no-repeat center top;*/
	margin-top: 2px;
}


.banner-meta{
	position: absolute;
	width: 100%;
	height: 100%;
}

.banner-text{
	font-size: 3em;
	line-height: 1.5em;
	left: 20%;
	margin-top: 40px;
}
.banner-text small{
	color: #FFF;
	font-size: 0.6em
}

.banner-text h1{
	color: #dcd84b;
}

.banner-text span{
}

.mentions{
	margin-top: 15px;
	margin-bottom: 35px;
	height: 100%;
}

.mentions div{
	margin-top: 20px;
}
.subheading{
	display: block;
	color: #fff;
	font-size: 0.5em;
	line-height: 0.6em;
}

.banner-button{
	margin-top: 2%;
}
.banner-button a{
	font-size: 1.5em;
	font-weight: 600;
	padding: 10px 30px;
	color: #fff;
	background: #52afe2 url(../images/transparant.png) repeat-x 0 50%;;
	border-radius: 32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	text-decoration: none;
	border: 1px solid #52afe2;
}

.main-content{
	margin-top: 6.5%;
}

.section-title{
	margin-bottom: 30px;
}

[class^="icon-"],
[class*=" icon-"]{
	display: inline-block;
	width: 52px;
	height: 52px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 52px;
	vertical-align: middle;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
}

.sub-title{
	font-size: 1.2em;
	font-weight: 600;
}

.icon-one{
	background-position: -6px -3px;;
	width: 52px;
	height: 52px;
}

.icon-two{
	background-position: -60px -3px;
	width: 52px;
	height: 52px;
}

.icon-three{
	background-position: -127px -3px;
	width: 52px;
	height: 52px;
}
.icon-four{
	background-position:  0 -57px;
	width: 52px;
	height: 52px;
}

.section{
	padding-top: 40px;
	padding-bottom: 40px;
}

.features{
	margin-top: 5%;
	background-color: #fff;
	padding: 0 50px 50px 0;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}
.section-text{
}

.section-image{
	float: right;
}

.mentions img{
	width: 100%;
	max-height: 100px;
}

.section .image-container img{
	margin-top: -20px;
	max-height: 300px;

}

.section.container{
	border-top: 1px solid #eee;
	margin-top: 30px;
}
.price{
	background-color: rgb(232, 232, 232);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 25%;
	padding: 5px 5px 30px 5px;
}

.price h3{
	background: #fff;
	color: #616161;
	font-size: 1.3em;
	text-align: center;
	padding: 5px;
	margin-bottom: 30px;
	text-transform: uppercase;
	vertical-align: middle;
}


.price{
}


.price .amount{
	color: #f27366;
	text-align: center;
	font-weight: 700;
}
.price .number{
	font-size: 2em;
}

.price small{
	font-size: 1.2em;
	vertical-align: super;
}

.price .subsection{
	text-align: center;
}
.price .subsection .duration{
	font-size: 1.2em;
	color: #f27366;
	padding: 10px;
	font-weight: 400;
}

.pricing .price-action{
	display: block;
	vertical-align: super;
	margin-top: 50px;
	margin-left: 17.5px;
}

.price-action .action{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f27366;
	padding: 20px;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
}

.price-action .action:hover{
	opacity: 0.8;
}
.price-action .action:active{
	color: #fff;
	text-decoration: none;
}

.footer{
	width: 100%;
	background-color: #000;
	min-height: 200px;
}

.grey{
	background-color: #eaeaea;
	margin-left: -200px;
	margin-right: -200px;
}

.white{
	background-color: #fff;
}

.orange{
	background-color: #fdf1e6;
	margin-right: -300px;
	margin-left: -300px;
}

.center{
	text-align: center;
}


.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 1.3em;
    font-weight: 300;
}

.inline-form{
	display: inline;
}

.inline-form a{
	color: #fff;
	font-weight: 400;
}


.inline-form label, .inline-form input{
	display: inherit;
	font-size: 1em;
}

.cart{
	background-color: #fff;
}

.cart fieldset{
	min-height: 400px;
}


.plan .plan-name{
	padding: 10px;
	color: #fff;
	background: #f27366;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
}


.plan .plan-name h2{
	color: #fff;
	font-weight: 700;
}


.plan .plan-name span{
	font-weight: 700;
	font-size: 2em;
}

.plan ul {
	margin-top: 0;
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
}

.plan-feature{
	line-height: 1.5em;
}

.plan .plan-feature{
	font-size: 1em;
	font-weight: 500;
}

.quote-section{
	background-color: #68c39f;
	padding-top: 75px;
	padding-bottom: 75px;
	color: #fff;
}

.quote-section h2{
	color: #fff;
}

.price-section{
	background-color: #4980a5;
	margin-top: 50px;
	padding: 140px 0px 140px 0;
}

.price-section h2{
	color: #fff;
}

.price-section .pricing-caption span{
	color: #fff;
}


.page-title{
	text-align: center;
}

.page-title h2{
	color: #f27366;
	font-size: 3em;
	line-height: 0em;
	font-weight: 600;	
}

.unit-section{
	margin-bottom: 20px;
}
.page-title span{
	display: block;
	color: #fff;
	font-size: 2em;	
	font-weight: 600;
	line-height: 1.2em;
}

.filler-section{
	font-size: 2em;
	color: #fff;
	line-height: 5em;
}

.action-section{
	position: relative;
	min-height: 70px;
	display: block;
}



.a-btn{
	left: 50%;
	margin: 20px 0 0 -90px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 25px 30px 25px 30px;
	position: absolute;
	float: left;
	display: block;
	overflow: hidden;
	background: #fff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0),color-stop(rgba(246,246,246,1),0.74),color-stop(rgba(237,237,237,1),1));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	-webkit-transition: box-shadow 0.3s ease-in-out;
	-moz-transition: box-shadow 0.3s ease-in-out;
	-o-transition: box-shadow 0.3s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	color: #fff;
	text-decoration: none;
}


.a-btn-text {
	font-size: 20px;
	color: #d7565b;
	line-height: 16px;
	font-weight: bold;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
	text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
	display: block;
}


.a-btn:hover{
    background:#fff;
    opacity: 0.8;
    -webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
}

.a-btn:active{
    background:#d7565b;
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.a-btn:active .a-btn-text{
    color:#fff;
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}
.a-btn:active .a-btn-slide-text{
    color:rgba(0,0,0,0.4);
    text-shadow:none;
}

.plan-section .title{
	text-align: center;
}

.plan-section .title h2{
	color: #fff;
	font-size: 2em;
}

.plan-section{
	margin-bottom: 40px;
}

.step-content{
	text-align: center;
}

.step-content span{
	color: #fff;
	font-size: 1.5em;
	display: block;
}

.pure-form.register-form input, .pure-form.register-form select option{
	margin-bottom: 10px;
	width: 300px;
	line-height: 2em;
}

.pure-form.register-form button{
	margin-top: 20px;
	text-align: center;
}

.image-container img:hover{
	-webkit-animation:spin 1s linear;
    -moz-animation:spin 1s linear;
    animation:spin 1s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

