/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
	@font-face {
		font-family: 'Sacramento';
		font-style: normal;
		font-weight: 400;
		src: local('Sacramento'), local('Sacramento-Regular'), url(http://themes.googleusercontent.com/static/fonts/sacramento/v2/WFDkXpubrEwopJnSlHV6CL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
	}

	html, body{
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		background-color: #fafafa;	
		margin:0;
		color: #666;
		width: auto !important;
		overflow-x: hidden !important;
	}

	body{
		min-width: 50%;
		height:100%;
		width: auto !important;
		overflow-x: hidden !important;
	}


	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		color: #52afe2;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal; }
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
		h1 { font-size: 46px; line-height: 49px; margin-bottom: 14px;}
		h2 { font-size: 35px; line-height: 42px; margin-bottom: 10px; }
		h3 { font-size: 28px; line-height: 35px; margin-bottom: 8px; }
		h4 { font-size: 21px; line-height: 28px; margin-bottom: 4px; }
		h5 { font-size: 17px; line-height: 21px; }

		p { margin: 0 0 21px 0; }
		p.lead { line-height: 28px;}







/* #Site Styles
================================================== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap{
	display:block;position:relative;
	min-height: 700px;
}

.wrap.active{
	background-color: #4980a5;
	
}

.right{
	float: right;
}

.navigator{
	position: fixed;
	min-width: 100%;
	padding: 10px 0;
	text-align: center;
	top: 0;	
	z-index: 1000;
}

nav{
	min-height: 50px;
}

.header-content{
	margin-top: 50px;
}
.main-content{
	padding: 0 20px 50px 0;
}

.js .nav-collapse{
	overflow: visible;
}

.nav-collapse li {
	width: auto;
	display: inline;
}

.logo{
	background: url(../images/logo.png) no-repeat;
	overflow: visible;
}

.logo a{
	width: 114px;
	height: 22px;
	font: 0 0 a;
	text-shadow: none;
	color: transparent;
}

.plain-header{
	height: 100px;	
	padding: 20px 0 0 0;

}

.navigator.active{
	background-color: #4980a5;
	opacity: 1.0;	
	padding-top: 15px;

}




.header{	
	background: url('../images/banner2.png')  no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 15px 0;		
	height: 600px;
	min-height: 60%;
	width: 100%;
	z-index: 2000;	

}



.nav-collapse,
.nav-collapse * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.nav-collapse li {
	width: 100%;
	display: inline;
}

.nav-menu ul{
	list-style: none;
	display: inline;
}


.nav-menu li{
	margin-right: 15px;
	display: inline;
	color: #333333;
	font-weight: 700;
}

.nav-menu li > a{
	color: #fff;
	text-decoration: none;

}

.nav-menu li a:hover{
	border-bottom: solid #52afe2;
}

.nav-menu li.current {
	color: #fff;
	background: #52afe2;
	padding: 10px 10px;
	line-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.content{
	height: 100%;
}



.banner-text small{
	color: #FFF;
	font-size: 0.6em
}

.banner-text h1{
	color: #dcd84b;
	font-size: 3em;
}


.banner-text span{
	font-weight: 500;
	font-size: 1.6em;
}
.subheading{
	word-wrap: break-word;
}



.mentions{
	margin-top: 15px;
	margin-bottom: 35px;
	height: 100%;
}

.mentions div{
	margin-top: 20px;
}
.subheading{
	display: block;
	color: #fff;
	font-size: 0.5em;
	line-height: 1.5em;
}

.banner-button{
	margin-top: 2%;
}
.banner-button a{
	font-size: 1.5em;
	font-weight: 600;
	padding: 10px 30px;
	color: #fff;
	background: #52afe2 url(../images/transparant.png) repeat-x 0 50%;;
	border-radius: 32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	text-decoration: none;
	border: 1px solid #52afe2;
}


.section-title{
	margin-bottom: 30px;
}


.sub-title{
	font-size: 1.2em;
	font-weight: 600;
}

.icon-one{
	background-position: -6px -3px;;
	width: 52px;
	height: 52px;
}

.icon-two{
	background-position: -60px -3px;
	width: 52px;
	height: 52px;
}

.icon-three{
	background-position: -127px -3px;
	width: 52px;
	height: 52px;
}
.icon-four{
	background-position:  0 -57px;
	width: 52px;
	height: 52px;
}

.section{
	padding-top: 40px;
	padding-bottom: 40px;
}

.features{
	margin-top: 5%;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	overflow: hidden;
}


.section-image{
	float: right;
}

.mentions img{
	width: 100%;
	max-height: 100px;
}

.section .image-container img{
	margin-top: -20px;
	max-width: 100%;
	height: auto;

}

.section.container{
	margin-top: 30px;
}


.price{
	background-color: rgb(232, 232, 232);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 100%;
	padding: 5px 5px 30px 5px;
}

.price h3{
	background: #fff;
	color: #616161;
	font-size: 1.3em;
	text-align: center;
	padding: 5px;
	margin-bottom: 30px;
	text-transform: uppercase;
	vertical-align: middle;
}


.price .amount{
	color: #f27366;
	text-align: center;
	font-weight: 700;
}
.price .number{
	font-size: 2em;
}

.price small{
	font-size: 1.2em;
	vertical-align: super;
}

.price .subsection{
	text-align: center;
}
.price .subsection .duration{
	font-size: 1.2em;
	color: #f27366;
	padding: 10px;
	font-weight: 400;
}

.pricing .price-action{
	display: block;
	vertical-align: super;
	margin-top: 50px;
	margin-left: 17.5px;
}

.login-action{

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	background-color: #f27366;
	padding: 10px;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	height: 20px;
	text-align: center;

}
.action{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	background-color: #f27366;
	padding: 20px;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 70%;
	display:inline-block;
	margin-top:20px;
}

.action:visited{
	color: #fff;
}

.action-container{
	position: relative;
	height: 50px;
}


.action.center{
	left: 50%;
	width: 300px;
	height: 61px;
	position: relative;
	margin: 30px 0 0 -150px;
	text-align: center;
}

.price-action .action:hover{
	opacity: 0.8;
}
.price-action .action:active{
	color: #fff;
	text-decoration: none;
}

.footer{
	width: 100%;
	background-color: #000;
	min-height: 200px;
}

.grey{
	background-color: #eaeaea;
	margin-left: -200px;
	margin-right: -200px;
}

.white{
	background-color: #fff;
}

.orange{
	background-color: #fdf1e6;
	margin-right: -300px;
	margin-left: -300px;
}

.center{
	text-align: center;
}


.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-xsmall {
	font-size: 70%;
}

.pure-button-small {
	font-size: 85%;
}

.pure-button-large {
	font-size: 110%;
}

.pure-button-xlarge {
	font-size: 1.3em;
	font-weight: 300;
}

.inline-form{
	display: inline;
}

.inline-form a{
	color: #fff;
	font-weight: 400;
}


.inline-form label, .inline-form input{
	display: inherit;
	font-size: 1em;
}

.cart{
	background-color: #fff;
}

.cart fieldset{
	min-height: 400px;
}


.plan .plan-name{
	padding: 10px;
	color: #fff;
	background: #f27366;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
}


.plan .plan-name h2{
	color: #fff;
	font-weight: 700;
}


.plan .plan-name span{
	font-weight: 700;
	font-size: 2em;
}

.plan ul {
	margin-top: 0;
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
}

.plan-feature{
	line-height: 1.5em;
}

.plan .plan-feature{
	font-size: 1em;
	font-weight: 500;
}

.quote-section{
	background-color: #68c39f;
	padding-top: 75px;
	padding-bottom: 75px;
	color: #fff;
}

.quote-section h2{
	color: #fff;
}

.price-section{
	background-color: #4980a5;
	margin-top: 50px;
	padding: 140px 0px 140px 0;
}

.price-section h2{
	color: #fff;
}

.price-section .pricing-caption span{
	color: #fff;
}


.page-title{
	text-align: center;
}

.page-title h2{
	color: #f27366;
	font-size: 3em;
	font-weight: 600;	
}

.unit-section{
	margin-bottom: 20px;
}
.page-title span{
	display: block;
	color: #fff;
	font-size: 2em;	
	font-weight: 600;
	line-height: 1.2em;
}

.filler-section{
	font-size: 2em;
	color: #fff;
	line-height: 5em;
}




.a-btn{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	padding: 30px 30px 20px 25px;
	float: left;
	display: inline-block;
	overflow: hidden;
	background: #fff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(255,255,255,1),0),color-stop(rgba(246,246,246,1),0.74),color-stop(rgba(237,237,237,1),1));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2), 0px 0px 0px 1px rgba(188,188,188,0.1);
	-webkit-transition: box-shadow 0.3s ease-in-out;
	-moz-transition: box-shadow 0.3s ease-in-out;
	-o-transition: box-shadow 0.3s ease-in-out;
	transition: box-shadow 0.3s ease-in-out;
	color: #fff;
	text-decoration: none;
	margin: 0 auto;
	position: relative;
	left: 50%;
	margin: 0 0 0 -90px;
	width: 180px;
}


.a-btn-text {
	font-size: 20px;
	color: #d7565b;
	line-height: 16px;
	font-weight: bold;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
	text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
	display: block;
	text-align: center;
}


.a-btn:hover{
	background:#fff;
	opacity: 0.8;
	-webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
	-moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
	box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
}

.a-btn:active{
	background:#d7565b;
	-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
	-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
	box-shadow:0px 2px 2px rgba(0,0,0,0.6) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.a-btn:active .a-btn-text{
	color:#fff;
	text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}
.a-btn:active .a-btn-slide-text{
	color:rgba(0,0,0,0.4);
	text-shadow:none;
}

.plan-section .title{
	text-align: center;
}

.plan-section .title h2{
	color: #fff;
	font-size: 2em;
}

.plan-section{
	margin-bottom: 40px;
}

.step-content{
	text-align: center;
}

.step-content p{
	color: #fff;
	font-size: 1.2em;
	display: block;
}

.pure-form.register-form input, .pure-form.register-form select option{
	margin-bottom: 10px;
	width: 300px;
	line-height: 2em;
}

.pure-form.register-form button{
	margin-top: 20px;
	text-align: center;
}

.content-text{
	color: #fff;
	padding-top: 15px;
}

.content-text h2{
	color: #fff;
	font-size: 1.5em;	
	line-height: 1.4em;
}

.content-text span{
	font-size: 1.2em;	
	line-height: 1.5em;
}

.content-image img{
	margin-top: 20px;
}

.content-image.right img{
	
	float: right;
}

.image-container img:hover{
	-webkit-animation:spin 1s linear;
	-moz-animation:spin 1s linear;
	animation:spin 1s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.plain-section{
	margin-bottom: 40px;
}



.hidden-desktop{
	display: none !important;
}



.section-action{
	margin-top: 50px;
}

.title{
}
.title h1{
	font-size: 4em;
	font-weight: 600;
	color: #f27366;
	text-rendering: optimizelegibility;
	text-shadow: 1px 1px 1px #2a2a2a;
}

.title hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
	border-width: 1px 0 0;
	margin-top: 60px;
	width: 100%;
}

.contact-section h4, .contact-section p, .contact-section h5, .contact-section span, .contact-section label{
	color: #fff;
}

.container input.columns, .container textarea.columns {
	margin-left: 0px;
}


input, textarea{
	font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type="tel"], input[type="url"]{
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
}

.section-action{
	margin-top: 50px;
}

.nav-toggle:hover{
	opacity: 0.4;
}

.columns.send-message{
	margin-top: 60px;
	position: relative;
	left: 50%;
	margin: 0 0 0 -245px;
}

.nav-collapse ul {
	margin: 0;
	padding: 0;
	width: 30%;
}



.social{
	margin:10px 0px;
}

.social a i{
	display:inline-block;
	width:40px;
	height:40px;
	font-size:17px !important;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	color:#fff;
	-webkit-transition: background 2s ease;
	-moz-transition: background 2s ease;
	-o-transition: background 2s ease;
	-ms-transition: background 2s ease;
	transition: background 2s ease;
	border-radius:100px;
	margin-right:5px;
}
.social a.facebook i{
	background:#1e78ae;
}

.social a.twitter i{
	background:#1ba1e2;
}

.social a.google-plus i{
	background:#f22d0c;
}

.social a.pinterest i{
	background:#dd1617;
}

.social a.linkedin i{
	background:#2d93cf;
}

.fsection{
	margin-top: 10px;
}

.fsection p{
	color: #fff;
}

.fsection div{
	margin-top: 10px;
}

.fsection h4{
	font-size: 1.5em;
	color: #eee;
	font-style: normal;	
}

.fsection i.contact-icon{
	background:#0fa6bc;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	display:inline-block;
	border-radius:100px;
	color:#fff;
	font-size:10px;
	margin-right:7px;
}

.fsection a, .fsection a:visited, .fsection a:hover{
	color: #fff;
}


.footer .address p{
	font-size: 0.9em;
	color: #fff;
	line-height: 2em;
	margin-bottom: 5px;
}


.break-word {
	word-wrap: break-word;
	word-break: break-all;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.header{
		background: url('../images/banner2.png')  no-repeat center bottom;
		background-color: #487fa5;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}

	.image-container img{
		max-width: 300px;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {


	.page-title h2{
		margin-left: 60px;
	}
	.content-text span{
		font-size: 1em;
		line-height: 1.2em;
	}

	.columns.content-image {
		margin-left: 150px;
	}	

	.columns.content-text{
		text-align: center;
		margin-left: 50px;
	}

	.content-image img{

		width: 250px;
		height: auto;

	}

	.plain-section{
		position: relative;
	}

	

	.four.columns.contact-caption{
		width: 100% !important;
	}

	.banner-action{
		top: 100%;
		width: 90%;
	}	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.hidden-mobile{
		display: none !important;
	}

	.hidden-desktop{
		display: inherit !important;
	}

	.nav-collapse a {
		color: #fff;
		text-decoration: none;
		width: 100%;
		float: left;
	}

	.nav-collapse ul ul a {
		background: #ca3716;
		padding-left: 2em;
	}

	.nav-toggle {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 70px;
		height: auto;
		min-height: 50px;
		/*float: right;*/
		display: inline-block;
		/*margin: 0 -2em 1em 90px;*/
		text-indent: -999px;
		overflow: hidden;
		background: url('../images/responsive_nav2.png')  no-repeat 0% 0%;
		z-index: 1000;
		opacity: 50%;

		position:fixed;
		right:2%;


	}

	.nav-collapse,
	.nav-collapse ul {
		list-style: none;
		width: 100%;
		float: left;
	}

	.nav-collapse li {
		float: left;
		width: 100%;
		display: inline;
		margin-top: 10px;
	}

	.login-action{
		-webkit-border-radius: none;
		-moz-border-radius: none;
		border-radius: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: none;
		padding: 0;		
	}



	.section {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.section-text{
		padding-left: 10px;
	}


	.section.first{
		padding-top: 20px;
	}

	.mentions img{
		margin-bottom: 20px;
	}
	.mentions img{
		max-width: 80%;
	}


	.subheading{
		line-height: 1em;
	}

	.price-action{
		margin-bottom: 30px;
	}

	.price{
		display: block;
		margin: 0 0px 30px !important;
	}

	.mentions div img{
		float: left;
	}


	h2{
		font-size: 1.8em;
	}

	h3{
		font-size: 1.5em;
	}

	.price-section{
		padding: 20px 0px 20px 0;
	}

	.footer{
		min-height: 100px;
	}	

	.banner-text{
		padding-top: 30px;
	}
	.banner-text h1{
		font-size: 2em;
	}

	.logo{
		margin-left: 0; 
	}


	.pricing .plan{
		margin-bottom: 40px;
	}


	.container.contact-section{
		margin-left: 30px;
		margin-right: 30px;
	}

	.banner-action{
		display: absolute;
		width: 100%;
	}	
	.container .content-image{		
		margin-left: 100px;
	}

	.container .content-image img{
		width: 200px;
		height: auto;
	}

	.container .content-text{
		margin-left: 60px;
	}


	.logo{
		left: 25%;
		margin: 0 0 0 10px;
	}

	#banner-action{
		width: 50%;
	}


	.container.full-container.mentions div{
		display: block;
		width: 80%;
	}
	.container.full-container.mentions div img{
		max-width: 250px;
		max-height: auto;
	}


	.section{
		margin-bottom: 30px;
	}


	.quote-section .section-text{
		left: 50%;
		margin: 0 0 0 0;
	}



	.container.contact-section{
		margin-left: 10px;
		margin-right: 10px;
	}
	.page-title h2{
		font-size: 2em;
	}

	.step-content img{
		max-width: 300px;
		height: auto;
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.banner-text span{
		font-size: 1.2em;
		line-height: 1em;
	}


	.banner-text h1{
		font-size: 1.5em;
	}

	.header{
		max-height: 450px;
	}


	#banner-action{
		padding: 20px;
	}


	.action {
		width: 100% !important;
	}
	.action.center {
		position: static;
	}
	.section-text{
		text-align: center;
		width: 420px !important;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.page-title h2{
		margin-left: 5%;
	}
	.container .content-image{		
		margin-left: 20%;
	}

	.container .content-image img{
		width: 200px;
		height: auto;
	}

	.container .content-text{
		margin-left: 5%;
		font-size: 0.9em;
	}

	.pricing .plan{
		width: inherit;
		left: 50%;
		margin: 0 0 0 30px;
	}



	#banner-action{
		width: 60%;
	}

	.full-container img{
		margin-left: 20px;
	}

	.section-text{
		padding-left: 0px;
	}

	.banner-text span {
		font-size: 1.2em;
		line-height: 1em;
	}

	.section-text h3, .section-text p{
		margin: 0 20px;
	}

	.content-text p{
		margin: 0 20px;
		padding-right: 20px;
	}

}

@media only screen and (max-width: 360px) {

	.header {
		height: 400px;
	}

	.action{
		width: 90%;
	}

	.step-content p{
		color: #fff;
		font-size: 1.2em;
		display: block;
		margin: 0 5px;
	}	

}

@media screen and (min-width: 40em) {
	.nav-collapse ul ul a {
		display: none;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
	.nav-toggle {
		background-image: url("../images/responsive_nav2.png");
		/*-webkit-background-size: 100px 100px;
		-moz-background-size: 100px 100px;
		-o-background-size: 100px 100px;
		background-size: 100px 100px;*/
	}
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
